Django==5.2.8
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2
psycopg2-binary==2.9.11
dj-database-url==3.0.1
python-dotenv==1.2.2
celery==5.6.3
kombu==5.6.2
amqp==5.3.1
vine==5.1.0
gunicorn==23.0.0
whitenoise==6.9.0
django-storages[s3]==1.14.4
boto3==1.38.0
pillow==12.1.1
openpyxl==3.1.5
asgiref==3.11.1
sqlparse==0.5.3
tzdata==2025.2
